<script>
  //variablen
  let name = "Franz";
  let count = 0;

  //funktionsdefinitionen
  const countup = () => {
    count = count + 1;
  }
  const tuwas = () => {
     name = "Franziska";
  }
</script>

<main>
  <h1>Hallo {name}</h1>
  <button on:click={tuwas}>Tuwas</button>
  <p>{count}</p>
  <button on:click={countup}>Hochzählen</button>
</main>

<style>
  h1{
    background-color: aquamarine;
    color: white;
    padding: 0.2em;
  }
</style>
